* {box-sizing: border-box}

.container {
    padding: 16px;
    text-align: center;
}
h1{
    text-align: center;
}
.alert{
    background-color: red;

    border: 2px solid darkred;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    border: 2px solid darkgrey;
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
label {
    margin-left: auto;
}
.register_button{
    background-color: lightgray;
    width: auto;
    border: 2px solid darkgrey;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}